.Navigation {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  backdrop-filter: blur(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  a {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 25px;
    &:hover {
      color: #fff01e;
    }

    &.active {
      color: hsla(41, 94%, 52%, 0.815);
    }
  }
}