body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../../portfolio/src/assets/picture/CharcoalBackground.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #ffffffc2;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  }
